body{
    text-align: center;
    background-color: black;
    color: white;
}


h1{
    display: inline-block;
    border: 5px solid white;
    border-radius: 20px;
    padding: 12px 70px;
}


.btn-container{
    margin: auto;
    height: 370px;
    width: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.btn{
    height: 150px;
    width: 150px;
    border: 10px solid black;
    border-radius: 40px;
}


.red{
    background-color: rgba(255, 0, 0, 0.7);
    border: 10px solid red;
    border-radius: 40px;
}


.green{
    background-color: rgba(10, 166, 10, 0.582);
    border: 10px solid green;
    border-radius: 40px;
}


.blue{
    background-color: rgba(0, 0, 255, 0.7);
    border: 10px solid blue;
    border-radius: 40px;
}


.yellow{
    background-color: rgba(231, 231, 7, 0.7);
    border: 10px solid yellow;
    border-radius: 40px;
}


.flash{
    background-color: white;
}




